# Visual studio
*.exp
*.lib
*.pdb
*.suo
*.dll
*.exe
*.bsc

# Prospa compiled experiments
*.asm
*.p
*.bak

# Boost
boost_1_79_0/**

# Binaries


#Driver
USB Driver/**

Other macros/**
Installer Output/**
DLLs/**
**/.vs/**
**/Debug/**
**/Release/**

/Macros/Setup/UpdateShims/UpdateShims.asm
/Macros/Setup/UpdateShims/UpdateShims.p

eventTable.txt
variableUpdateTable.txt
fixedUpdateTable.txt
EventTable.txt
VariableUpdateTable.txt
FixedUpdateTable.txt

updateTable.txt
**/FX3/**



*.db
/Example Data
/boost_1_79_0
/KeaExpert release notes.pdf

/Code/Main Source Code/Source Code - 64 bit

/Old Documentation/*

# Don't ignore these
!/Code/3rd Party Libraries and Headers/Libs/win32/*.dll
!/Code/3rd Party Libraries and Headers/Libs/x64/*.dll
!/Code/3rd Party Libraries and Headers/Libs/win32/*.lib
!/Code/3rd Party Libraries and Headers/Libs/x64/*.lib
!/Code/DLL Code/Projects/FX3USB/Libs
!/Macros/UCS-Update/KeaParameterUpdater/*.p
